@CHARSET "ISO-8859-1";

#global-region {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 997;
	overflow: auto;
	background: url("images/white-bg.gif") repeat;
}

#global-region.global-region-top {
	width: 100%;
}
#global-region.global-region-top .block{
  float: left;
}
#global-region.global-region-left {
	height: 100%;
}

#global-region.global-region-fixed {
	position: fixed;
}

body.admin-menu #global-region {
	top: 20px;
}